<h1>Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
  <li><%= link_to recipe.name, recipe_path(recipe), class: "stretched-link" %></li>
  <% end %>
</ul>

<%= link_to 'Add a Recipe', new_recipe_path %>


