<div class="home-screen">
  <div class="login-panel">
    <h1>Happy Birthday Mom!</h1>
    <iframe src="https://giphy.com/embed/3oKIPq3lgLeAW5xnHO" width="480" height="266" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
    <p>14/4/20</p>
    <h6 class="olive-green">Dear Mom,</h6>
    <p>Thank you for all your delicious meals over the years. We hope you have had as much fun cooking for us as we have had eating!</p>
    <p>Hope you have a happy birthday and here's to many more meals to come :)</p>
    <p>Love,</p>
    <p>Nicholas and Alessandra</p>
  </div>
</div>
